<!DOCTYPE html>
<html>
  <head>
    <title>p2pu</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fonts/arvo.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}stylesheets/base.css">
  </head>
  <body>
    <div id='page'>
      <div id='header'>
        <a id='logo' href='#'>P2PU</a>
        <ul id='primary-navigation'>
          <li>
            <a href=''>Take a Course</a>
          </li>
          <li>
            <a href=''>Run a Course</a>
          </li>
          <li>
            <a href=''>Showcase</a>
          </li>
          <li>
            <a href=''>Webcraft</a>
          </li>
          <li class='join'>
            <a href=''>Join</a>
          </li>
          <li class='search'>
            <a href=''>Search</a>
          </li>
          <li class='login'>
            <a href=''>Login</a>
          </li>
        </ul>
      </div>

      <div id='masthead-container'>
        <div id='masthead'>
          <div id='course-actions'>
            <a class='find' href='#'>
              Find your course.
            </a>
            <a class='run' href='#'>
              Run a course.
            </a>
          </div>
          <h1 id='slogo'>
            We are an <em class='adjective'>online</em> community that <em class='verb'>enables learning</em>. <em class='declaration'>So</em>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>